body
{
	 margin-left: 0;
	 padding:0;
	 background: #262626;
}
.center
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 100px;
	background : #262626;
	border: 5px solid #fff;
	border-radius: 50%;
	box-shadow: 45px 45px 45px rgba(0,0,0,.8);
	z-index: 1;
	overflow: hidden;
} 
.heart
{
	position: relative;
	width: 100px;
	height: 100px;
	background: #f00;
	transform: rotate(45deg) translate(10px,10px);
	animation: animate 1s linear infinite;
}
.heart : before
{
	content: ' '; 
	width: 100%;
	height: 100%;
	background: #f00;
	position: absolute;  
    top: -50%;
    left: 0;
	border-radius: 50%;
}
 .heart : after
{
	content: '';
	width: 100%;
	height: 100%;
	background: #f00;
	position: absolute;
    bottom: 0;
    right: 50%;
	border-radius: 50%;
}











