body{
	font-family:arial;

}

#menu{
 
}

#menu > ul{
	background:#2c3e50;
}

#menu ul{
	list-style:none;
	position:relative;
	margin: 0;
	padding: 0;
	float:left;
}

#menu ul a{
	color:#fff;
	text-decoration: none;
	font-size:16px;
	font-weight:bold;
	line-height:32px;
	padding:0 15px;
	display:block;
}

#menu ul li{
	float:left;
	position: relative;
	margin: 0;
	padding: 0;
}

#menu ul li:hover{
	background: #2ecd71;
}

#menu ul ul{
	position: absolute;
	background: #27ae60;
	top:100%;
	left:0;
	display:none;
}

#menu ul ul li{
	float:none;
	width:200%;
	border-left:3px solid #27ae60;
}

#menu ul ul li:hover{
	border-left:3px solid #2c3e50;
}
#menu ul ul ul{
	top:-4px;
	left:100%;

}

#menu ul li:hover > ul{
	display:block;
}